.background {
    padding: var(--page-paddings);
    padding-top: 100px;
    font-size: var(--body-font-size);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-widget {
    width: 50%;
}
