<div class="background">
    <div class="project-widget">
        <div>
            <h1>Miscellaneous Projects (Page in edit...)</h1>
            <h3>Folds</h3>
            <span class="image main"><img src="images/pic18.png" alt="" /></span>
            <p>Folds is a short animation about a girl who falls asleep and finds that her origami has taken a turn for
                the fantastic. Made during the UCBUGG decal at UC Berkeley along with my several classmates using the
                Maya software. I was in charge of all the drawing for each scene, my drawings can be seen in the
                Pre-Making stage video.
            <p>Pre-Making stage video:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8bF_BKFm2Gw" frameborder="0"
                allowfullscreen></iframe>
            <p>Final Folds video:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oIutVMX0gtQ" frameborder="0"
                allowfullscreen></iframe>
        </div>

        <br/>
        <div>
            <h3>Adobe After Effects</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NoGiMUbQl1Y" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
</div>