.tech-background {
    width: 100%;
    position: relative;
    text-align: right;
    height: 80vh;
    padding: var(--page-paddings);
    font-size: var(--body-font-size);
}
.background-section {
    padding: var(--text-padings);
}

li {
    list-style: none;
}

@media (max-width: 780px) {

}

@media (max-width: 480px) {
    .tech-background {
        padding: 10px;
    }
    .background-section {
        padding: 0px;
    }
}