<div class="background">
 
    <div class="background-section">

        <h1> Here is my
            <b style="color : red">T E C H</b> background
        </h1>

     
        <br>
        <br>
        <h2>
            <em>UC Berkeley,</em> BA in Computer Science</h2>
        <h2>
            <em>Hack Reactor,</em> immersive bootcamp</h2>
        <h2>
            <em>Software Engineer,</em> at Google 2018-2023</h2>
        <ul>
            <li>Gmail: Scheduled send launch (Web team)</li>
            <li> Vertex AI: Vertex AI launch beta + GA (FE/Web)</li>
            <li>Business Messages (Fullstack/Web)</li>
        </ul>

        <br/>

        <h2>Interested in: </h2>
        <p>Art + Tech + Sustainability</p>


        <h2>Skillset:</h2>
        <ul>
            <li>Able to pickup/learn new stacks/tools on the journey!</li>
            <li>Web development/FE/Fullstack (Angular/React/Ts/Js/Java/Python)</li>
            <li>Kubernetes, Docker, Git</li>
            <li>Adobe Creative Suite (Basic familiarity, with goal of improving over time!)</li>
            <li>Data Visualization Certificate from Parsons (
                <i>in progress</i>)</li>
        </ul>

        <h2>Courses/certificates:</h2>
        <ul>

            <li>Udemy: Docker/Kubernetes </li>
            <li>Udemy: Fundamentals for BE Engineering </li>
            <li>Udemy: Fundamentals for Networking </li>
            <li>Udemy: Fundamentals for Database Engineering </li>
        </ul>

        <button routerLink="/tech/swe-projects">See software projects!</button>
        <!-- <button routerLink="/tech/all-projects">See miscellaneous projects!</button> -->

    </div>
</div>