<div>
    <c-dropdown>
        <button cButton cDropdownToggle color="secondary"></button>
        <ul cDropdownMenu dark>
            <li>
                <a routerLink="/" cDropdownItem>Home</a>
            </li>
            <li>
                <a routerLink="/about" cDropdownItem>About</a>
            </li>
            <li>
                <a routerLink="/art" cDropdownItem>Art</a>
            </li>
            <li>
                <a routerLink="/tech" cDropdownItem>Tech</a>
            </li>
        </ul>
    </c-dropdown>
    <div class="background-section">
        <h2>
            <em>UC Berkeley,</em> BA in Computer Science</h2>
        <h2>
            <em>Hack Reactor,</em> immersive bootcamp</h2>
        <h2>
            <em>Software Engineer,</em> at Google 2018-2023</h2>
        <ul>
            <li>Gmail: Scheduled send launch (Web team)</li>
            <li> Vertex AI: Vertex AI launch beta + GA (FE/Web)</li>
            <li>Business Messages (Fullstack/Web)</li>
        </ul>

        <br/>

        <h2>Interested in: </h2>
        <p>Art + Tech + Sustainability</p>


        <h2>Skillset:</h2>
        <ul>
            <li>Able to pickup/learn new stacks/tools on the journey!</li>
            <li>Web development/FE/Fullstack (Angular/React/Ts/Js/Java/Python)</li>
            <li>Kubernetes, Docker, Git</li>
            <li>Adobe Creative Suite (Basic familiarity, with goal of improving over time!)</li>
            <li>Data Visualization Certificate from Parsons (
                <i>in progress</i>)</li>
        </ul>

        <h2>Courses/certificates (non college):</h2>
        <ul>
            <li>Udemy: Docker/Kubernetes </li>
            <li>Udemy: Fundamentals for BE Engineering </li>
            <li>Udemy: Fundamentals for Networking </li>
            <li>Udemy: Fundamentals for Database Engineering </li>
        </ul>


        <div>
            <h1>These are my personal
                <b style="color : red">P R O J E C T S</b>
            </h1>
            <p>Coming soon...</p>

            <!-- <div class="project-widget" *ngFor="let project of projects">
                    <iframe *ngIf="project.videoSrc" width="560" height="315" [src]="project.videoSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <img *ngIf="project.imageSrc" width="560" height="315" [src]="project.imageSrc">
                    <p>{{project.description}}</p>
                </div> -->
        </div>
    </div>






</div>