<div class="tech-background">
    <div class="background-section">
        <h4 id="university">
            UC Berkeley, BA in Computer Science</h4>
        <h4 id="bootcamp">
            Hack Reactor, immersive bootcamp</h4>
        <h4 id="work">
            Software Engineer, at Google 2018-2023</h4>
        <ul>
            <li>Gmail: Scheduled send launch (Web team)</li>
            <li> Vertex AI: Vertex AI launch beta + GA (FE/Web)</li>
            <li>Business Messages (Fullstack/Web)</li>
        </ul>
        <br />
        <div id="interests">
            <h4 >Interested in: </h4>
            <p>Art + Tech + Sustainability</p>
            <button cButton color="light" shape="rounded-pill" routerLink="/tech/swe-projects">See software
                projects</button>
            <br/>
            <br/>
            <button cButton color="light" shape="rounded-pill" routerLink="/miscellaneous">See miscellaneous
                    projects</button>
        </div>
    </div>
</div>