
.background {
    z-index: -1;
    width: 100%;
    height: 100%;
 
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

// ****** Text styles*********** 
.title {
    text-align: center;
}

.outer-text-container {
 flex: 1;
 font-size: 1rem;
}

.text-container {
 padding: 0 100px;
}

// ****** Image styles*********** 
.outer-img-container {
    flex: 1;
    text-align: center;
   }

.img-container {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 545.766px;
}
    
img {
    position: relative;
    z-index: 2;
    height: 600px;
    width: 545.766px;
}

.outline {
    z-index:1;
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: -10%;
    left: -10%;
    background-color: #979797;
}

@media (max-width: 820px) {
    .background {
      flex-direction: column
    }
    .outer-text-container {
        padding-top: 100px;
    }
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV