<div class="background">
    <span class="outer-img-container">
        <img src="../../assets/bw.png" alt="Profile image of Enki" >
    </span>
    <span class="outer-text-container">
            <c-dropdown>
                    <button cButton cDropdownToggle color="secondary"></button>
                    <ul cDropdownMenu dark>
                      <li><a routerLink="/" cDropdownItem>Home</a></li>
                      <li><a routerLink="/about" cDropdownItem>About</a></li>
                      <li><a routerLink="/art" cDropdownItem>Art</a></li>
                      <li><a routerLink="/tech" cDropdownItem>Tech</a></li>
                    </ul>
                  </c-dropdown>
        <h1 class="title">Hi, I’m <b style="color: red;">E N K I.</b></h1>

        <div class="text-container">
            <p>
                <em>
                    The motto I live by is, “Life is the C between B and D.” 
                    Life is the result of the choices you make between birth and death.
                </em>
            </p> 
            <p>
                I’m a curious soul who wants to know the details of everything. There is so much I want to learn and explore that at times, I feel that my lifetime might not be enough for all that the world has to offer, but I try my best to always stay curious. 
            </p>  
            <p>
                My various experiences from living in different countries, attending different schools of totally different socioeconomic backgrounds, and being born a bit different, made me see the world in a specific way. Someone who never quite fit in into a specific group, yet understood the struggles and justifications of those around me. 
            </p>  
            <p>
                My purpose as an artist is to create works that spark the fire within people’s souls. Life can be hard, and at times our fires can weaken over time. And in times like these, we all need that little bit of oxygen to revive our senses and to find ourselves again.  With that in mind, I paint and create. To bring hope and beauty into someone’s life. 
            </p>  
            <p>
                In the Mongolian culture, we grow up with a deep respect toward nature, and believe if we do not take care of it, it will retaliate back. As I continue on my journey, I find myself being more and more aware of the things I’m leaving behind. As a creator, going forward, I want to also explore sustainable materials/paints etc. 
            </p>   
            <p>
                As a computer science major, who loves nature and art, I hope to find an intersection between these fields to create a positive impact on the world and make the lives of people a little better. 
            </p>
        </div>
    </span>
</div>

