.about-background {
    z-index: -1; 
    padding: var(--page-paddings);
    position: relative;
    width: 100vw;
    text-align: left;
}

.text-container {
    flex: 1;
    padding: var(--text-padings);
    font-size: var(--body-font-size);
}

#leaves {
    position: absolute;
    top: 100px;
    z-index: -1;
}

// 481px — 768px: iPads, Tablets
@media (max-width: 1360px) {
    .background {
        padding: 0px;
    }

    .outer-text-container {
        padding-top: 0px;
    }
    .text-container {
        padding: 0 15px;
    }
}

// 320px — 480px: Mobile devices
@media (max-width: 480px) {  
    .background {
        padding: 0px;
    }

    .text-container {
        padding: 0 15px;
    }
}