.background {
    z-index: -1; 
    display: flex;
    flex-direction: row;
    padding: 60px;
}

// ****** Text styles*********** 
.title {
    text-align: center;
    padding-bottom: 50px;
}

.outer-text-container {
 font-size: 1rem;
}

.text-container {
    flex: 1;
 padding: 0 100px;
}

// ****** Image styles*********** 
.outer-img-container {
    text-align: center;
    flex: 1;
   }


img:hover {
    transform: translate(50px, 20px);
    box-shadow: -100px -50px 10px 0px #979797;
    
}
    
img {
    position: relative;
    z-index: 2;
    box-shadow: -50px 50px 0px 0px #979797;
    border-radius: 15px;
    transition: box-shadow 2s, transform 2s;
    height: 70vh;
    width: auto;
}


// 481px — 768px: iPads, Tablets
@media (max-width: 768px) {
    .background {
      flex-direction: column;
      padding: 5px;
      
    }
    .outer-text-container {
        padding-top: 100px;
    }

    img {
        height:auto;
        width: 100%;
    }
}

// 320px — 480px: Mobile devices
@media (max-width: 480px) {
    .background {
      flex-direction: column
      
    }
    .text-container {
        padding: 0 15px;
    }

    img {
        height:auto;
        width: 100%;
    }
}


// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV