.menu {
    z-index: 10;
    position: fixed;
    top: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

li {
    padding: 10px;
    list-style-type: none;
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
}

// when a element A is hovered, can we target another element B and style it? 
li:hover  a {
    /* Styles for element B when element A is hovered */
    color: white;
}

a, a:visited
{
  outline: none;
  color: rgba(44, 56, 74, 0.95);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 2em;
  transition: color 0.5s ease-in 0.1s;
}

a:focus, a:hover {
    text-decoration: underline overline white;

}



@media (max-width: 820px) {
    a, a:visited {
    }
}

@media (max-width: 820px) {
    a, a:visited {  
    }
}
