.background {
    padding: var(--page-paddings);
    padding-top: 100px;
    font-size: var(--body-font-size);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 300px;
    width: auto;
    display: block;
}

.project-widget {
    width: 50%;
}

// 320px — 480px: Mobile devices
@media (max-width: 480px) {

}
// 481px — 768px: iPads, Tablets
@media (max-width: 768px) {
    .project-widget {
        width: 100%;
    }

}