.background {
    position: fixed;
    background-image: url("../../assets/mongolianscript.svg");
    background-repeat: no-repeat;
    width: 7%;
    height: 80vh;
    right: 0;
    opacity: 0.1;
}

.nav {
    text-align: center;
    position: sticky;
    top: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.art-outer-container {
    display: flex;
    flex-direction: row;
} 

.left-container {
    width: 25vw;
    margin-top: -100px;
    background-color: rgb(0,0,0, 0.1);
}

.painting:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.right-container {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.painting-container {
    padding: 0 100px;
}

.painting-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.painting {
    width: 80%;
    box-shadow: 10px 10px 10px 0px #979797;
    border: 10px outset white;
}


p {
    align-self: center;
    font-size: 1em;
}

c-dropdown {
    button {
        float: right;
    }
}

.displayVideo {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25vw;
}

video {
    display: none;
}

.left-container-content {
    position: fixed;
}


// 481px — 768px: iPads, Tablets
@media (max-width: 768px) {
    .art-outer-container {
        flex-direction: column;
    }

    .left-container {
        margin-top: 0px;
    }

    .painting-container {
        padding: 0;
    }

    .painting-widget {
        flex-direction: column;
    }

    .left-container-content {
        position: unset;
    }

}

// 320px — 480px: Mobile devices
@media (max-width: 480px) {
     .art-outer-container {
        flex-direction: column;
    }

    .left-container {
        margin-top: 0px;
    }

    .painting-container {
        padding: 0;
    }

    .painting-widget {
        flex-direction: column;
    }

    .left-container-content {
        position: unset;
    }
}
