<div class="art-outer-container">
    <div class="right-container">
        <div class="nav">
            <h1> This is my
                <b style="color: red;">A R T</b>
            </h1>
        </div>
        <div
            class="overview-text">
            <i>  Represented by
                <a target="_blank" href="https://atrium916.com/board/">Atrium916</a>, a local Sacramento shop, promoting circular economy. If you are interested in purchasing any
                of the paintings here, please head to
                <a target="_blank" href="https://sacramento.shop/pages/seller-profile/enkisworld">my profile</a>. Feel free to click on the images to see the videos corresponding to the paintings! 
           </i>    
               
        </div>

        <div class="painting-container">
            <div *ngFor="let painting of paintings">
                <div class="card" (mouseenter)="showVideo(painting)">
                    <div class="imgbox">
                        <img class="painting" [src]="painting.src" />
                    </div>
                    <div class="content">
                        <h3>{{painting.title}}</h3>
                        <p class="description-text">{{painting.description}}</p>
                    </div>
                    <video [id]="painting.id" loop="true" muted defaultmuted playsinline autoplay controls="true">
                        <source [src]="painting.videoSrc" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="left-container">
        <div class="left-container-content">
        </div>

    </div>
</div>

