// c-carousel-item, img {
//     height: 80vh;
//     width: auto;
// }
.background {
    position: fixed;
    background-image: url("../../assets/mongolianscript.svg");
    background-repeat: no-repeat;
    width: 20%;
    height: 100vh;
    right: 0;
    opacity: 0.3;
}

.art-outer-container {
    display: flex;
    flex-direction: row;
} 

.left-container {
    flex: 1;
    background-color: #A00000; 
}


.right-container {
    flex: 2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.painting-container {
    padding: 100px;
}

.painting-widget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.painting {
    width: 50%;
    box-shadow: 10px 10px 10px 0px #979797;
    border: 10px outset white;
}

.nav {
    position: sticky;
    top: 10px;
    align-items: center;

    h1 {
        flex: 1;
    }
}
p {
    display: inline;
    align-self: center;
    font-size: 1em;
}

c-dropdown {
    button {
        float: right;
    }
}

.left-container-content {
    position: fixed;
}

#self {
    border: 1px solid black;
    border-radius: 50px;
}


// 481px — 768px: iPads, Tablets
@media (max-width: 768px) {
    .art-outer-container {
        flex-direction: column;
    }

    .painting-container {
        padding: 0;
    }

    .painting-widget {
        flex-direction: column;
    }

    .left-container-content {
        position: unset;
    }

}

// 320px — 480px: Mobile devices
@media (max-width: 480px) {

}
