.background {
    padding: var(--page-paddings);
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    z-index: -1;
    // height: 80vh;
}

#backgroundimage{
    position: absolute;
    bottom: 0;
}

.asset-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    // height: 50%;
    // width: 100%;
    border-radius: 5px;
}

.asset-container::-webkit-scrollbar{
    display: none;
}

#asset {
    // opacity: calc(0.5);
    width: 60%;
    border-radius: 50px;
}

//****************** Text animation styling *******************
.my-text-container {
    z-index: 1;
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-text {
    z-index: 1;
    position: absolute;
    top: -500px;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
