.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: -1;
    height: 80vh;
}

.asset-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: 50%;
}
#asset {
    clip-path: circle(34.2% at 50% 50%);
}
.asset-container::-webkit-scrollbar{
    display: none;
}


video {
    opacity: calc(0.5);
}

//****************** Text animation styling *******************
.my-text-container {
    z-index: 1;
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-text {
    z-index: 1;
    position: absolute;
    top: -500px;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
