.background {
    padding: var(--page-paddings);
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    z-index: -1;
}

#backgroundimage{
    position: absolute;
    bottom: 0;
}

.asset-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.asset-container::-webkit-scrollbar{
    display: none;
}

#asset {
    width: 60%;
    border-radius: 50px;
    // opacity: 0.6;
}

//****************** Text animation styling *******************
.my-text-container {
    z-index: 1;
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-text {
    z-index: 1;
    position: absolute;
    top: -500px;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



//***************************** Media queries *******************************

// 481px — 768px: iPads, Tablets
@media screen and (max-width: 1360px) {
    #my-text {
        font-size: 4rem;
    }
}

// 320px — 480px: Mobile devices
@media screen and (max-width: 480px) and (orientation: portrait) {
    #asset {
        width: 100%;
        border-radius: 50px;
    }

    .asset-container {
        padding-top: 60px;
    }

    #my-text {
        font-size: 2rem;
    }

    .background {
        padding: 10px;
    }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
    #asset {
        width: 50%;
        border-radius: 50px;
    }

    .asset-container {
        padding-top: 60px;
    }

    #my-text {
        font-size: 2rem;
    }

    .background {
        padding: 10px;
    }
}
